.nav-container
{
    width: 100%;
}
.nav{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
    background-color: #202020;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.logo-img{
    width: 100px;
}

.light-mode{
    background-color: white;
    
}

